body{
    background-color: #552500;
    color: rgb(199, 157, 112);
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #804315;
}

a{
    text-decoration: none;
    color: beige;
}

#container{
    background-color: #666;
    margin: 30px auto;
    padding: 10px;
    overflow: hidden;
}

#nav{
    height: 40px;
    background: rgb(128, 67, 21);
}

#nav ul{
    padding-top: 13px;
    padding-left: 10px;
}

#nav .active{
    font-weight: bold;
    color: black;
}

li{
    list-style: none;
    float: left;
    padding-right: 20px;
}

#main{
    float: left;
    width: 60%;
}

#sidebar{
    float: right;
    width: 37%;
    background: #552500;
    margin-top: 20px;
    padding: 10px;
}

.clr{
    clear: both;
}

#footer{
    text-align: center;
    padding: 10px;
    margin-top: 30px;
    background: #804315-;
}